body {
  padding: 0;
  margin: 0;
  background-image: url(images/founder_drone.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
/*   background-position: center; */
  background-position: flexible;
  background-size: cover;
  background-color: rgb(66, 67, 119);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* Navigation menu */
#menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(158, 121, 9);
  padding: 10px 0;
}

/* #menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
} */
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the items */
}

#menu ul li {
  margin: 0 10px; /* Adjust spacing between items */
}




/* #menu ul li {
  display: inline-block;
  margin: 0 20px;
}
 */
#menu ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#menu ul li a:hover {
  background-color: #494ee3;
}

.intro {
  position: absolute;
  bottom: 100px;
  left: 20px;
  padding: 20px;
  font-size: 16px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border: 3px solid #033073;
  border-radius: 3%;
  background-color: rgba(80, 115, 156, 0.7);
  color: white;
  width: 70%;
  max-width: 700px;
							
}
/* Style the buttons */
.software-list li {
	list-style: none;
  }
  
  .software-list button {
	font-size: 16px;
	background-color: #0b0c00;
	color: #fff;
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
  }
  
  /* Hover effect for buttons */
  .software-list button:hover {
	background-color: #1cb647;
  }

.img {
  opacity: 0.6;
  position: relative;
  top: 500px;
  width: 100%;
  max-height: 99%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  body {
    margin: 10px;
  }

  .intro {
    bottom: auto;
    left: auto;
    margin-top: 30px;
    width: 70%;
    max-width: 50%;
  }

  .img {
    top: 100px;
  }
}
