body {
	padding: 0;
	margin: 0;
	background-image: url(images/founder_drone1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-color: rgb(66, 67, 119);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  
  /* Navigation menu */
  #menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px 0;
  }
  
  #menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  #menu ul li {
	display: inline-block;
	margin: 0 20px;
  }
  
  #menu ul li a {
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
  }
  
  #menu ul li a:hover {
	background-color: #2c2ce7;
  }
  
  .intro {
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 20px;
	font-size: 16px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border: 3px solid #f7f8f9;
	border-radius: 3%;
	background-color: rgba(64, 126, 184, 0.7);
	color: white;
	width: 70%;
	max-width: 800px;
  }
  
  .img {
	opacity: 0.6;
	position: relative;
	top: 500px;
	width: 100%;
	max-height: 99%;
	margin: auto;
  }
  /* Styles for the software-list class */
.software-list button {
    padding: 10px 20px;
    background-color: #3726b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.software-list button:hover {
    background-color: #45a049;
}
  
  @media screen and (max-width: 800px) {
	body {
	  margin: 10px;
	}
  
	#menu {
	  background-color: transparent;
	  padding: 0;
	}
  
	#menu ul {
	  display: flex;
	  justify-content: space-around;
	}
  
	#menu ul li {
	  margin: 0;
	}
  
	.intro {
	  position: relative;
	  bottom: auto;
	  left: auto;
	  margin-top: 10px;
	  width: 100%;
	}
  
	.img {
	  top: 100px;
	}
  }
  
  @media (max-width: 768px) {
    .software-list button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .software-list button {
        font-size: 12px;
        padding: 6px 12px;
    }
}
  